<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DefaultVolume" value="0.3-0.7" />
    <add key="MediaExtensions" value=".aac,.flac,.m4a,.mp3,.wav" />
    <add key="PlayingMark" value="♪ " />
    <add key="PlaylistExtension" value=".lpp.json" />
    <add key="PlaylistFilter" value="Librame Player Playlist JSON (.lpp.json)|*.lpp.json" />
    <add key="VolumeRangeSeparator" value="-" />
  </appSettings>
</configuration>